body {
    background-color: #911;
    margin: 0px;
    padding: 100px;
    text-align: center;
  }
  
  .search {
    position: relative;
  }
  
  .input-search {
    background-color: transparent;
    border: 2px solid rgb(219, 17, 17);
    /* height: 30px;
    width: 30px; */
    padding: 0 0px;
    font-size: 3.1em;
    font-weight: lighter;
    color: rgb(243, 0, 0);
    border-radius: 24px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    position: relative;
    top: 6px;
  }
  
  .input-search:focus {
    height: 50px;
    width: 800px;
    padding: 0 12px;
    outline:none;
  }
  
  .input-search+.search:after {
    content: '';
    border-top: 3px solid rgb(228, 16, 16);
    width: 15px;
    display: block;
    position: absolute;
    right: -6px;
    bottom: -8px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .input-search+.search:before {
    content: '';
    border-top: 3px solid rgb(255, 0, 0);
    width: 0px;
    display: block;
    position: absolute;
    right: -2px;
    bottom: 19px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-delay: 0s; /* Safari */
      transition-delay: 0s;
  }
  
  .input-search:focus+.search:after {
    content: '';
    border-top: 3px solid rgb(255, 0, 0);
    display: block;
    position: absolute;
    right: 10px;
    bottom: 9px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .input-search:focus+.search:before {
    right: 10px;
    bottom: 9px;
    width: 15px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-delay: 0.2s; /* Safari */
      transition-delay: 0.2s;
  }
  .wrapper{
    position: fixed;
    top: 18%;
    left: 80%;
    transform: translate(-50%, -50%);
  }
  
  .link_wrapper{
    position: relative;
  }
  
  a{
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: #333;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #333;
    transition: all .35s;
  }
  
  .icon{
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
  }
  
  .icon svg{
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #cc2e2e;
    transition: all .35s;
  }
  
  a:hover{
    width: 200px;
    border: 3px solid #da1919;
    background: transparent;
    color: #d60c0c;
  }
  
  a:hover + .icon{
    border: 3px solid #cf1313;
    right: -25%;
  }