.order{
    margin-top:3%
}
#orderNowbT{
  height: 50px;
  width: 140px;
}

#test {
  width: 360px;
  height: 300px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  color: #333;
}
.container{
  display: flex;
  
}
.container div {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100vw;
    justify-content: space-evenly;
  align-items: center;
  margin-left: 4em;
  * {
    width: 5rem;
  }
  }
.totalContainer{
  display: flex  !important;
  height: 5rem;
  p{
    font-size: large;
    font-family: inherit; 
    margin-left: 13em;
    font-weight: bold;
  }
}
  .container p {
    font-family: inherit;
    font-size: large;
    color: #333;
  }

  .container button{
    height: 2em;
    width: 5em;
    font-size: large;
  }
table {
  text-align: left;
  line-height: 40px;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #ed1c40;
  width: 500px;
  margin: 50px auto;
  border-radius: 0.25rem;
}

thead tr:first-child {
  background: #ed1c40;
  color: #fff;
  border: none;
}

th:first-child,
td:first-child {
  padding: 0 15px 0 20px;
}

th {
  font-weight: 500;
}

thead tr:last-child th {
  border-bottom: 3px solid #ddd;
}
#delete{
    height: 30px;
    width: 30px;
}
tbody tr:hover {
  background-color: #f2f2f2;
}

tbody tr:last-child td {
  border: none;
}

tbody td {
  border-bottom: 1px solid #ddd;
}

td:last-child {
  text-align: right;
  padding-right: 10px;
}

.button {
  color: #aaa;
  cursor: pointer;
  vertical-align: middle;
  margin-top: -4px;
}

.edit:hover {
  color: #0a79df;
}

.delete:hover {
  color: #dc2a2a;
}
#makla{
    width: 1000px;
    font-family: Georgia, serif;
    font-size: 21px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
}