<section class="popular" id="popular">

    
    <h1 class="heading"> Our  <span>Meals</span>  </h1>
    
        <div class="box-container" >
    
            <div class="box" *ngFor="let food of Data">
                <span class="price"> {{food.price}} </span>
                <img src={{food.image_food}} alt="">
                <h3>{{food.food_name}}</h3>
         
                <button href="#" class="btn" (click)="addToCard($event)">order now</button>
            </div>
        </div>
    
    </section>
    