<!-- <ng-template > -->
<section class="order" id="order">
  <h1 class="heading"><span>Delivery</span> boy</h1>
  <div class="row">
    <div class="image">
      <img
        id="test"
        src="https://media.discordapp.net/attachments/933738586606542938/943652898804494366/download.png"
        alt=""
      />
    </div>
    <form action="" class="t">
      <input type="submit" value="List of Orders" class="btn" />
      <input type="submit" value="Orders done" class="btn" />
      <input type="submit" value="I am doing" class="btn" />
    </form>
  </div>
</section>

<section class="order" id="order">
  <h1 class="heading"><span>Welcome</span> Boss</h1>
  <div class="row">
    <div class="image">
      <img
        id="test"
        src="https://year0film.files.wordpress.com/2021/03/static1.squarespace.jpg"
        alt=""
      />
    </div>
    <form action="" class="t">
      <input type="submit" value="Statistics" class="btn" />
      <input type="submit" value="List Of Users" class="btn" />
      <input type="submit" value="Add new Meal" class="btn" />
    </form>
  </div>
</section>
<!-- </ng-template> -->
<!-- <ng-template [ngIf]="view===1"></ng-template>
<ng-template [ngIf]="view===2"></ng-template>
<ng-template [ngIf]="view===3"></ng-template> -->
