<section class="home" id="home">
  <div class="content">
    <h3>food made with love</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas
      accusamus tempore temporibus rem amet laudantium animi optio voluptatum.
      Natus obcaecati unde porro nostrum ipsam itaque impedit incidunt rem
      quisquam eos!
    </p>
    <a routerLink="/Gallery" routerLinkActive="router-link-active" class="btn"
      >order now</a
    >
  </div>

  <div class="image">
    <img
      src="https://res.cloudinary.com/dn6kxvylo/image/upload/v1713147355/home-img_unfply.png"
      alt=""
    />
  </div>
</section>
<div class="step-container">
  <h1 class="heading">how it <span>works</span></h1>

  <section class="steps">
    <div class="box">
      <img
        id="img"
        src="https://slack-imgs.com/?c=1&o1=ro.gu&url=https%3A%2F%2Fus.123rf.com%2F450wm%2Fmything%2Fmything1603%2Fmything160300031%2F53378596--fast-food-menu-label-with-hamburger-french-fries-coffee-sandwich-popcorn-ice-cream-pizza-taco-and-s.jpg%3Fver%3D6"
        alt=""
      />
      <h3>choose your favorite food</h3>
    </div>
    <div class="box">
      <img
        id="img"
        src="https://cdn1.vectorstock.com/i/1000x1000/09/70/fast-shipping-icon-vector-24390970.jpg"
        alt=""
      />
      <h3>fast delivery</h3>
    </div>
    <div class="box">
      <img
        id="img"
        src="https://cdn-icons-png.flaticon.com/512/2331/2331895.png"
        alt=""
      />
      <h3>easy payments methods</h3>
    </div>
    <div class="box">
      <img
        id="img"
        src="https://cdn3.vectorstock.com/i/1000x1000/20/67/happy-man-eating-hamburger-sandwich-icon-fast-food-vector-5922067.jpg"
        alt=""
      />
      <h3>and finally, enjoy your food</h3>
    </div>
  </section>
</div>
