<section class="speciality" id="speciality">
  <h1 class="heading">our <span>speciality</span></h1>

  <div class="box-container">
    <div class="box">
      <img
        class="image"
        src="../../assets/p-1.jpg"
        alt=""
      />
      <div class="content">
        <img
          src="../../assets/s-1.png"
          alt=""
        />
        <h3>tasty burger</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
          inventore neque amet ipsa tenetur voluptates aperiam tempore libero
          labore aut.
        </p>
      </div>
    </div>
    <div class="box">
      <img class="image" src="../../assets/s-img-1.jpg" alt="" />
      <div class="content">
        <img
          src="../../assets/s-2.png"
          alt=""
        />
        <h3>tasty pizza</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
          inventore neque amet ipsa tenetur voluptates aperiam tempore libero
          labore aut.
        </p>
      </div>
    </div>
    <div class="box">
      <img class="image" src="../../assets/s-img-3.jpg" alt="" />
      <div class="content">
        <img
          src="../../assets/s-3.png"
          alt=""
        />
        <h3>cold ice-cream</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
          inventore neque amet ipsa tenetur voluptates aperiam tempore libero
          labore aut.
        </p>
      </div>
    </div>
    <div class="box">
      <img class="image" src="../../assets/s-img-4.jpg" alt="" />
      <div class="content">
        <img
          src="../../assets/s-4.png"
          alt=""
        />
        <h3>cold drinks</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
          inventore neque amet ipsa tenetur voluptates aperiam tempore libero
          labore aut.
        </p>
      </div>
    </div>
    <div class="box">
      <img class="image" src="../../assets/s-img-5.jpg" alt="" />
      <div class="content">
        <img
          src="../../assets/s-5.jpg"
          alt=""
        />
        <h3>tasty sweets</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
          inventore neque amet ipsa tenetur voluptates aperiam tempore libero
          labore aut.
        </p>
      </div>
    </div>
    <div class="box">
      <img class="image" src="../../assets/s-img-6.jpg" alt="" />
      <div class="content">
        <img
          src="../../assets/s-6.jpg"
          alt=""
        />
        <h3>healty breakfast</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
          inventore neque amet ipsa tenetur voluptates aperiam tempore libero
          labore aut.
        </p>
      </div>
    </div>
  </div>
</section>
